div  {
    border-bottom: 70px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}
div {
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}